body {
    margin: 30px;
    font-family: helvetica;
}

.row {
    clear: both;
}

.name {
    width: 150px;
    font-weight: bold;
    font-size: x-large;
    line-height: 50px;
}

.box {
    padding: 10px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid #000000;
    margin-top: 12px;
    margin-bottom: 12px;
    float: left;
}

.result {
    width: 60px;
    background-color: lightgray;
}

.correct {
    background-color: blue;
}
